---
---
.download-jumbo {
  .download-btn-wrapper {
    text-align: center;

    a {
      font-size: 1.5em;
    }
  }

  p {
    text-align: center;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
